body {
  background-color: #000;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-bottom: 5px;
}
.container {
  border: grey 1px solid;
  border-width: 1px;
  margin: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;

  height: 100%;
  background: linear-gradient(-45deg, #ffff, #000, #000, #ffff);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  
}

.left-panel {
  flex: 1;
  font-size:12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}
.subheader {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: white;
}
.nav {
  margin-top: 5rem;
}

.nav a {
    font-size: 12px;
  display: block;
  margin: 1rem 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
  
}
.nav a:hover {
  color: gray;
  transition: color 0.3s ease;
}
.middle-panel {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #ccc 0%, #e6e6e6 70%);
}

.right-panel {
  
  margin-bottom: 470px;
 
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
  
}

.about p {
    display: flex;
    margin: 5px;
  margin-top: 500px;
  font-size: 20px;
}
 





